image: node:current-alpine

stages:
  - build
  - test

build-job:
  stage: build
  script:
    - npm install
  artifacts:
    paths:
      - node_modules
test-job:
  stage: test
  script:
    - npm run test
  artifacts:
    paths:
      - node_modules
