<html>
<head>
    <style>
        .header {
            width: 100%;            
        }
        .body {
            font-size: small;
            font-style: italic;
            text-align: center;
        }
				.marginleft {
					margin-left: 20px;
				}
				table, th, td {
					border: 1px solid black;
					border-collapse: collapse;
					height: 50px;
					padding-left: 10px;
					padding-right: 10px;
				}
    </style>
</head>
<body>
    <div class="header">
      <h3>{{PROVEEDOR}}</h3>        
			<p>Lo invitamos a cotizar la producción de los siguientes materiales:</p>
		
			<table>
				<thead style="background: #80C7CC; color: black;">
					<th>Material</th>
					<th>Cantidad</th>
				</thead>
				<tbody>
					<!-- BEGIN PRODUCTOS -->
					<tr>
						<td>{{PRODUCTO}}</td>
						<td style="text-align: center;">{{CANTIDAD}}</td>
					</tr>
					<!-- END PRODUCTOS -->					
				</tbody>
			</table>
			
			<p>Ingrese al siguiente link para cargar su cotización:</p>
			
			<a href="{{LINK}}">{{LINK}}</a>
					
			<br />
			<br />

			<img src="[LOGO]" />
    </div>
</body>
</html>