<html>
<head>
    <style>
        .header {
            width: 100%;            
        }
        .body {
            font-size: small;
            font-style: italic;
            text-align: center;
        }
		.marginleft {
			margin-left: 20px;
		}
    </style>
</head>
<body>
    <div class="header">
      <h3>REGION: {{REGION}}</h3>
        
			<p style="margin-bottom: 0px">Usuario {{EMAIL}}</p>
			<p style="margin-top: 0px">respondió a la propuesta de distribución de materiales del carrito:</p>
			
			<table>
				<tbody>
					<tr>
						<td>Id Carrito:&nbsp;{{NUMBERID}}</td>
						<td><div class="marginleft">Creador:&nbsp;{{USUARIO}}</div></td>
					</tr>
					<tr>
						<td>Fecha de creación:&nbsp;{{CREATEDAT}}</td>
						<td><div class="marginleft">Última actualización:&nbsp;{{UPDATEDAT}}</div></td>
					</tr>
					<tr>
						<td>Campaña:&nbsp;{{CAMPANIA}}</td>
						<td><div class="marginleft">Plan:&nbsp;{{PLAN}}</div></td>
					</tr>
					<tr>
						<td>CECO:&nbsp;{{CENTROCOSTO}}</td>
						<td><div class="marginleft">Descripción:&nbsp;{{DESCRIPCION}}</div></td>
					</tr>
				</tbody>
			</table>
		
			<p>Ingrese al siguiente link para ver la respuesta:</p>
			
			<a href="{{LINK}}">{{LINK}}</a>
			
			<br />
			<br />
			
			<img src="[LOGO]" />
    </div>
</body>
</html>