<html>
<head>
    [STYLE]
</head>
<body>

    <div class="title" style="display: {{USUARIODISPLAY}}">
        <div style="display: {{MULTIPLE}}">
            <b>{{USUARIO}}</b>
            <span>, se generaron las siguientes órdenes de entrega:</span> 
        </div>
        <div style="display: {{SIMPLE}}">
            <b>{{USUARIO}}</b>
            <span>, se generó una orden de entrega de <b>{{ORIGEN}}</b> a <b>{{DESTINO}}</b>:</span> 
        </div>
    </div>
    
    <div style="margin-top: 50px; display: {{MULTIPLE}}">
        <span>De <b>{{ORIGEN}}</b> a <b>{{DESTINO}}</b>:</span> 
    </div>

    <div class="button" style="display: {{LINKDISPLAY}}">
        <a href="{{LINK}}">VER ORDEN DE ENTREGA</a>        
    </div>
    
    <table class="table">
        <tr>
            <td colspan="3">
                <div class="table-title">
                    <b>Orden de entrega N°</b>:&nbsp;{{NUMBERID}}&nbsp;
                    <b>Plan</b>:&nbsp;{{PLAN}}&nbsp;
                    <b>Fecha estimada de entrega</b>:&nbsp;{{FECHA}}&nbsp;
                    <b>Prioridad</b>:&nbsp;{{PRIORIDAD}}                
                </div>
            </td>
        </tr>
        
        <tr>
            <td class="table-header">Código Material</td>
            <td class="table-header">Descripción Material</td>
            <td class="table-header align-right">Cantidad</td>
        </tr>

        <!-- BEGIN PRODUCTOS -->
        <tr>
            <td class="table-body">{{CODMATERIAL}}</td>
            <td class="table-body">{{DESCRIPCION}}</td>
            <td class="table-body align-right">{{CANTIDAD}}</td>
        </tr>
        <!-- END PRODUCTOS -->
    </table>
    
    <div style="display: {{FOOTERDISPLAY}}">
        [FOOTER]
    </div>
</body>
</html>